/docroot/*/accepted/*
/docroot/*/db/*
/docroot/*/dists/*
/docroot/*/incoming/*
/docroot/*/indices/*
/docroot/*/log/*
/docroot/*/pool/*
/docroot/*/tmp/*
!/docroot/*/accepted/.placeholder
!/docroot/*/db/.placeholder
!/docroot/*/dists/.placeholder
!/docroot/*/incoming/.placeholder
!/docroot/*/indices/.placeholder
!/docroot/*/log/.placeholder
!/docroot/*/pool/.placeholder
!/docroot/*/tmp/.placeholder
